# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# .vscode Folder
.vscode/
build/blc.hex
build/blc.elf.map
build/blc.elf
build/blc.dis
build/blc.bin
build/.ninja_log
build/.ninja_deps
